<!--The content below is only a placeholder and can be replaced.-->
<head>
    <link rel="appcomponent" type="text/css" href="app.component.css">
  
</head>

<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img class="sealImage" width="300"  height="300" alt="Sakshi.com" src="/assets/images/SakshiLogo.jpg">
</div>

<div class="relative">
    <h5>Need current updates on Product arriavel, Plz Follow me on Facebook <a href="https://www.facebook.com/SmithPredictor">Sumit Sinha</a></h5>
</div>

